<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- reminder that <title> shows up on tab name in google chrome -->
    <title>Home screen with form</title>
</head>
<body>
    <div class="container contain">
        <!-- form action is the route it gets sent on the server too, in server.py, need to be listening on this route, because it could be private data, need 'POST' method -->
        <form action="/process" method="POST">
            <div>
                <label for="name">Your Name:</label>
                <input type="text" name="name">
            </div>
            <div>
                <!-- when using session, the name= has to line up with session data in server.py, need to do this on the input or select tags -->
                <label for="dojo_location">Dojo Location:</label>
                <select name="location">
                    <option value="select">--SELECT--</option>
                    <option value="boston">Boston</option>
                    <option value="miami">Miami</option>
                    <option value="new york">New York</option>
                </select>
            </div>
            <div>
                <label for="language">Favorite Language:</label>
                <select name="language">
                    <option value="select">--SELECT--</option>
                    <option value="python">Python</option>
                    <option value="javascript">Javascript</option>
                    <option value="java">Java</option>
                </select>
            </div>
            <div>
                <p>Comment Optional:</p>
                <textarea name="comments" cols="30" rows="5"></textarea>
            </div>
            <!-- input submit triggers the form request to be processed to the server, it is on action='/process' -->
            <input type="submit" value="Submit" class="btn bg-primary">
        </form>
    </div>
</body>
</html>